# dependencies
node_modules/
client/node_modules/

# env files (IMPORTANT)
.env
Backend/.env

# uploads
Backend/uploads/

# build
/build
client/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.pnp
.pnp.js
